[Desktop Entry]
Encoding=UTF-8
Name=Link para schedule_priority.c
Type=Link
URL=https://cdn.discordapp.com/attachments/688000507771355163/692067991486988398/schedule_priority.c
Icon=text-x-csrc
